* {
	/* включает внутренние отступы и границы в ширину блока, установленную через свойство width */
	box-sizing: border-box;
}

html {
	--offset: 10px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.title{
	display: flex;
	flex-direction: column;
	margin-left: calc(100% / 12 * 1 + var(--offset));
	padding-top: 100px;
}
.title_big{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 83px;
    line-height: 82px;
    color: rgba(255, 255, 255, 0.14);
}
.title_little{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
	color: #FFFFFF;
	margin-top: -30px;
	margin-left: 20px;
}
/*пул денс*/
.pole_background{
    border-top:  3px solid #E89B2B;
	border-bottom:  3px solid #E89B2B;
    background-color: #202021;
    width: 100%;
    padding-bottom: 10%;
}
.pole_row{
    display: flex;
    flex-direction: row;
}
.pole_text{
    width:  calc(100% / 12 * 7 - var(--offset));
    margin-top: 30px;
}
.pole_img{
    width:  calc(100% / 12 * 6 - var(--offset));
    height: 500px;

}
.pole_text_light{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
    
}
#margin_bootom{
    margin-bottom:40px;
}
#margin_top{
    margin-top:40px;
}

.pole_text_bold{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.pole_button_row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.pole_button_text_row{
	display: flex;
	flex-direction: row;

}
.button_reset{
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;

}
#margin_left{
	margin-left: 35px;
}
.pole_button__border{
	width: calc(1000px / 12 * 4 - var(--offset));
	border: 2px solid #E89B2B; 
	height: 50px;
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center
}
.pole_button__orange{
	width: calc(1000px / 12 * 2 - var(--offset));
	background-color: #E89B2B; 
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
.text_light_button_pole{
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	color: #FFFFFF;
}
.text_bold_button_pole{
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 41px;
	color: #FFFFFF;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.first_zaniatie__background{
	margin-top: 80px;
	margin-bottom: 50px;
	background-image: url(img/Rectangle\ 44\ \(1\).png);
	background-position: right;
	width: 100%;
	height: 200px;
	border-bottom: 2px solid #E89B2B;
}
.first_zaniatie__titel{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin-left: calc(100% / 12 * 1 + var(--offset));
    padding-top: 30px;
}
.button_abonement{
	background-color: #E89B2B;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
	border: 0px;
	color: #FFFFFF;
	margin-left: calc(100% / 12 * 1 + var(--offset));
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.pole_other_border{
	border: 2px solid #FFFFFF;
	margin-left: calc(1000px / 12 * 7 + var(--offset));

}
.pole_other_row{
	display: flex;
	flex-direction: row;
}
.arrow_pole{
	width: 30px;
}
.text_pole_other{
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 38px;
	color: #FFFFFF;
}
@media (max-width: 900px) {
	.pole_row{
		display: flex;
		flex-direction: row;
		align-items: center;

	}
	.pole_text{
		width: 90%;
		margin-top: 30px;
		margin-left: 15px;
	}
	.pole_img{
		width:  60%;
		height: 500px;
	}
	#margin_left{
		margin-left: 0px;
	}
	.pole_button_row {
		justify-content: center;
	}
	.text_bold_button_pole {
		font-weight: 400;
	}
	.text_bold_button_pole {
		font-size: 24px;
	}
	.pole_other_border{
		border: 2px solid #FFFFFF;
		margin-left: 75px;
	
	}
	.pole_other_row{
		display: flex;
		flex-direction: row;
		margin: 0 auto;
	}
	.arrow_pole{
		width: 30px;
	}
	.text_pole_other{
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 300;
		font-size: 26px;
		line-height: 38px;
		color: #FFFFFF;
	}
}
@media (max-width: 600px) {
	.pole_row{
		display: flex;
		flex-direction: column;
		align-items: center
	}
	.pole_text{
		width: 90%;
		margin-top: 30px;
	}
	.pole_img{
		width:  90%;
		height: 500px;
	}
	#margin_left{
		margin-left: 0px;
	}
	.pole_button__border{
		width: 250px;
	}
	.pole_button__orange{
		width: 100px;
	}
	.text_bold_button_pole {
		font-weight: 400;
	}
	.text_bold_button_pole {
		font-size: 24px;
	}
	.pole_other_border{
		border: 2px solid #FFFFFF;
		margin-left: 0px;
	
	}
	.pole_other_row{
		display: flex;
		flex-direction: row;
		margin: 0 auto;
	}
	.arrow_pole{
		width: 30px;
	}
	.text_pole_other{
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 300;
		font-size: 26px;
		line-height: 38px;
		color: #FFFFFF;
	}
}