* {
	/* включает внутренние отступы и границы в ширину блока, установленную через свойство width */
	box-sizing: border-box;
}

html {
	--offset: 10px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
/*navigation навигация*/
.background_navigation{
	background-color: #202021;
    opacity: 0.8;
}
.menu__navigation{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
    align-items: center;


}
.menu_component{
	font-family: 'Yanone Kaffeesatz';
	margin-left: 20px;  
	margin-top: 15px;
	font-size: 16px;
	font-weight:  400;
	text-align: center;
	color: #B9B5BD;
	text-decoration: none;
}
.row_navigation {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-end
}
.logo__navigation{
	font-family:  'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
	color: white;
	margin-top: 10px;
	text-decoration: none;
}
.logo__navigation_light{
	font-family:  'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
	color: #B9B5BD;
	margin-top: 10px;
	text-decoration: none;
}

.title_block{
	padding-top: 4%;
	padding-bottom: 4%;
	font-size: 30px;
	color: #0369A1;
	text-align: center;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
@media (max-width: 600px){
	.menu__navigation{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.menu_component{
		font-family: 'Open Sans', sans-serif;
		margin-right: 20px;
		margin-left: -10px; 
		margin-top: 15px;
		font-size: 28px;
		font-weight:  600;
		text-align: right;
		color: white;
		text-decoration: none;
	}
}
@media (max-width: 900px){
	.menu_component{
		margin-right: 5px;
		font-size: 24px;
		margin-left: 5px;
	}
	.logo__navigation{
		margin-left: 15px;
	}
}
/*шапка*/
header{
	background-image: url(img/background.png);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-width: 100%;
	
}
.circle{
	display: flex;
	flex-direction: column;
}
.circle_size{
	width: 20px;
	height: 20px;
}
.block_text_header{
	width: calc(100% / 12 * 7 - var(--offset));
	padding-left: calc(100% / 12 * 1 + var(--offset));
	word-wrap: break-word;
	padding-top: 10%;
	padding-bottom: 10%;
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.81) 2%, rgba(0, 0, 0, 0.589424) 89.15%, rgba(0, 0, 0, 0) 114.5%);
}
.text_header__title{
	text-align: left;
	color: white;
	font-weight:  400;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-size: 82px;
	margin-top: 10px;
}
#text_header__div__title{
	text-align: left;
	color: white;
	width: 350px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;	

}
.button{
	display: inline-block;
	border: 2px solid #BEBEC8;
	background: transparent;
	color: #fff;
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.line{
	border-right: 2px solid #BEBEC8;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 15px;
	text-align: center;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
	color: #FFFFFF;
	
}
.text_button{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 20px;
	color: #E89B2B;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.block_text_header2{
	margin-top: 100px;
}
.title_block_text_header2{
	text-align: left;
	color: white;
	font-weight:  500;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-size: 30px;
}
.text_block_text_header2{
	text-align: left;
	color: white;
	font-weight:  300;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-size: 20px;
	width: 300px;
}
.detailed{
	color: #E89B2B;
	font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 12px;
	margin-left: -80px;
}
.icon_arrow{
	width: 15px;
	height: 15px;
}
.row{
	display: flex;
	flex-direction: row;
	align-items: flex-end
}
@media (max-width: 600px){
	.block_text_header{
		max-width: 100%;
		word-wrap: break-word;
		padding-top: 10%;
		margin-left: 15px;
	}
	.button{
		width: 60%;
		height: 50px;
		border-radius: 5px;
		margin-bottom: 5%;
		background-color: #0EA5E9;
		font-size: 18px;
		color: white;
		border: none;
		margin-top: 5%;
		margin-bottom: 3%;
		cursor: pointer;
		margin-left: 15px;
	}
	.text_header__title{
		font-size: 36px;
		text-align: left;
		color: rgb(3, 3, 3);
		font-weight:  Bold;
		font-family: 'Open Sans', sans-serif;
		margin-top: 10px;
	}
	#text_header__div__title{
		font-size: 16px;
		text-align: left;
		color: #075985;
		margin-top:50px;
		font-weight:  400;
		font-family: 'Open Sans', sans-serif;	
	}
    .block_opacity {
    background-color: rgba(90, 89, 139, 0.232);
    width: 100%;
    height: 100%;
    }
}
@media (max-width: 400px){
	.text_header__title{
		font-size: 30px;
		text-align: left;
		color: rgb(3, 3, 3);
		font-weight:  Bold;
		font-family: 'Open Sans', sans-serif;
		margin-top: 10px;
	}

}
@media (max-width: 900px){
	.text_header{
		max-width: 70%;
		margin-left: 15px;
	
	}
	.button{
		margin-left: 15px;
		
	}

}

