* {
	/* включает внутренние отступы и границы в ширину блока, установленную через свойство width */
	box-sizing: border-box;
}

html {
	--offset: 10px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.title{
	display: flex;
	flex-direction: column;
	margin-left: calc(100% / 12 * 1 + var(--offset));
	padding-top: 100px;
}
.title_big{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 83px;
    line-height: 82px;
    color: rgba(255, 255, 255, 0.14);
}
.title_little{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
	color: #FFFFFF;
	margin-top: -30px;
	margin-left: 20px;
}
/*navigation навигация*/
.background_navigation{
	background-color: #202021;
    opacity: 0.8;
}
.menu__navigation{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
    align-items: center;
}
.menu_component{
	font-family: 'Yanone Kaffeesatz';
	margin-left: 20px;  
	margin-top: 15px;
	font-size: 16px;
	font-weight:  400;
	text-align: center;
	color: #B9B5BD;
	text-decoration: none;
}
.row_navigation {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: flex-end
}
.logo__navigation{
	font-family:  'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 43px;
	color: white;
	text-decoration: none;
}
.logo__navigation_light{
	font-family:  'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
	color: #B9B5BD;
	text-decoration: none;
}

@media (max-width: 600px){
	.menu_component{
		font-size: 32px;
		margin-top: 25px;
	}
	.menu__navigation{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		
	}
	.row_navigation {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 10px;
	}
	.container{
		width: 350px;
	}
	.logo{
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

/*шапка*/
header{
	background-image: url(img/background.png);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-width: 100%;
	
}
.header_row{
	display: flex;
	flex-direction: row;


}
.circle{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: calc(100% / 12 * 2 + var(--offset));


}
.circle_size{
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
}
.block_text_header{
	width: calc(100% / 12 * 7 - var(--offset));
	/*padding-left: calc(100% / 12 * 1 + var(--offset));*/
	word-wrap: break-word;
	padding-top: 10%;
	padding-bottom: 10%;
	background: linear-gradient(270deg, rgba(0, 0, 0, 0.81) 2%, rgba(0, 0, 0, 0.589424) 89.15%, rgba(0, 0, 0, 0) 114.5%);
}
.text{
	width: 100%;
}

.text_header__title{
	text-align: left;
	color: white;
	font-weight:  400;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-size: 82px;
	margin-top: 10px;
}
#text_header__div__title{
	text-align: left;
	color: white;
	width: 350px;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;	

}
.button{
	display: inline-block;
	border: 2px solid #BEBEC8;
	background: transparent;
	color: #fff;
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}
.line{
	border-right: 2px solid #BEBEC8;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 15px;
	text-align: center;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
	color: #FFFFFF;
	
}
.text_button{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 20px;
	color: #E89B2B;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.block_text_header2{
	margin-top: 100px;
}
.title_block_text_header2{
	text-align: left;
	color: white;
	font-weight:  500;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-size: 30px;
}
.text_block_text_header2{
	text-align: left;
	color: white;
	font-weight:  300;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-size: 20px;
	width: 300px;
}
.detailed{
	color: #E89B2B;
	font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 12px;
	margin-left: -80px;
}
.icon_arrow{
	width: 15px;
	height: 15px;
}
.row{
	display: flex;
	flex-direction: row;
	align-items: flex-end
}
@media (max-width: 600px){
	header{
		background-position: left;
	}
	.block_text_header{
		width: 100%;
	}
	.text_header__title{
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
	}
	#text_header__div__title{
		width: 300px;	
	}
	.block_text_header2{
		margin-top: 50px;
	}

}

/*направления*/
.tarif{
	background-color: #202021;
	padding-bottom: 10%;
}
.row_tarif{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#background_napravlenie_dance_mix{
	background-image: url(img/Rectangle\ 6.png);
	width:calc(100% / 12 * 4 - var(--offset)); 
	height: 400px;
	margin-top: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 10px;
}
#background_napravlenie_children{
	background-image: url(img/Rectangle\ 7.png);
	width:calc(100% / 12 * 4 - var(--offset)); 
	height: 400px;
	margin-top: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 10px;
}

#background_napravlenie_caribbean{
	background-image: url(img/Rectangle\ 8.png);
	width:calc(100% / 12 * 4 - var(--offset)); 
	height: 400px;
	margin-top: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 10px;
}#background_napravlenie_pole{
	background-image: url(img/Rectangle\ 9.png);
	width:calc(100% / 12 * 4 - var(--offset)); 
	height: 400px;
	margin-top: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 10px;
}#background_napravlenie_sky{
	background-image: url(img/Rectangle\ 10.png);
	width:calc(100% / 12 * 4 - var(--offset)); 
	height: 400px;
	margin-top: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 10px;
}#background_napravlenie_hip{
	background-image: url(img/Rectangle\ 11.png);
	width:calc(100% / 12 * 4 - var(--offset)); 
	height: 400px;
	margin-top: 100px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-right: 10px;
}
.background_title_napravlenie{
	background-color: #202021;
	width: 130px;
	height: 40px;
	/*я не знаю как выровнить этот блок*/
}
.title_napravlenie{
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 600;
	font-size: 38px;
	line-height: 38px;
	color: #FFFFFF;
}
.row_button{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	height: 350px;
}
.button_zapis{
	background-color: #E89B2B;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
	border: 0px;
	color: #FFFFFF;

	padding-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	/*выровнить кнопки, чтобы были одного размера*/


}
.button_podrob{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
	border: 0px;
	color: #FFFFFF;
	display: inline-block;
	border: 2px solid  #FFFFFF ;
	background: transparent;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
}
@media (max-width: 600px){
	.title{
		margin: 0 auto;
		padding-bottom: 30px;
	}
	.row_tarif{
		flex-direction: column;
	}
	#background_napravlenie_dance_mix{
		background-image: url(img/Rectangle\ 6.png);
		width: 300px; 
		height: 400px;
		padding-top: 300px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		margin: 0 auto;
		margin-bottom: 20px;
	}
	#background_napravlenie_children{
		background-image: url(img/Rectangle\ 7.png);
		width: 300px; 
		height: 400px;
		padding-top: 300px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	#background_napravlenie_caribbean{
		background-image: url(img/Rectangle\ 8.png);
		width:calc(100% / 12 * 4 - var(--offset)); 
		width: 300px; 
		height: 400px;
		padding-top: 300px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		margin: 0 auto;
		margin-bottom: 20px;
	}#background_napravlenie_pole{
		background-image: url(img/Rectangle\ 9.png);
		width: 300px; 
		height: 400px;
		padding-top: 300px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		margin: 0 auto;
		margin-bottom: 20px;
	}#background_napravlenie_sky{
		background-image: url(img/Rectangle\ 10.png);
		width: 300px; 
		height: 400px;
		padding-top: 300px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		margin: 0 auto;
		margin-bottom: 20px;
	}#background_napravlenie_hip{
		background-image: url(img/Rectangle\ 11.png);
		width: 300px; 
		height: 400px;
		padding-top: 300px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		margin: 0 auto;
		
	}
	.row_button{
		height: 60px;
	}
	.button_zapis{
		padding-top: 11px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.button_podrob{
		padding-top: 9px;
		padding-bottom: 8px;
		padding-left: 20px;
		padding-right: 20px;	
	}
	.title_napravlenie{
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 600;
		font-size: 32px;
		padding-left: 10px;
		color: #FFFFFF;
	}
	.background_title_napravlenie{
		width: 155px;
	}
}

/*адреса*/
.adres_background{
	background-image: url(img/background_adres.png);
	width: 100%;
	padding-bottom: 100px;
}
.padding{
	padding-top: 100px;
	display: flex;
	flex-direction: row;
}
.adres_block{
	background: rgba(16, 16, 16, 0.86);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: calc(100% / 12 * 4 - var(--offset));
	height: 300px;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	/*почему один из блоков не выровнился?*/
}
.adres_text{
	width: 250px;
	margin-left: 50px;
	margin-right: 50px;
}
.white_text_adres{
	padding-top: 20px;
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
text-align: left;
}
.orange_text_adres{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 32px;
text-align: justify;
color: #C88930;
}
.row_adres{
	display: flex;
	flex-direction: row;
align-items: center;
margin-left: 20px;
margin-top: 20px;
}
.icon_adres_telephone{
	width: 35px;
	margin-right: 10px;
}
.telephone_adres{
	font-family: 'Yandex-UI-Icons-Private';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
}
@media (max-width: 600px){
	.padding{
		padding-top: 100px;
		display: flex;
		flex-direction: column;
	}
	.adres_block{
		width: 300px;
		height: 350px;
		margin: 0 auto;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.adres_text{
		width: 250px;
		margin: 0 auto;	
	}
	.white_text_adres{
		text-align: center;
		margin-bottom: 30px;
	}

}




/*абонементы*/
.abonement_background{
	background-color: #202021;
	border-bottom: 3px solid #E89B2B;
	padding-bottom: 10%;
}
.first_zaniatie__background{
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url(img/Rectangle\ 44.png);
	background-position: right;
	width: 100%;
	height: 200px;
	border-bottom: 2px solid #E89B2B;
}
.first_zaniatie__titel{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    margin-left: calc(100% / 12 * 1 + var(--offset));
    padding-top: 30px;
}
.button_abonement{
	background-color: #E89B2B;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
	border: 0px;
	color: #FFFFFF;
	margin-left: calc(100% / 12 * 1 + var(--offset));
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.abonement_block_background1{
	background-image: url(img/Rectangle\ 45.png);
	background-position: center;
	width: calc(100% / 12 * 4 - var(--offset));
	height: 350px;
	margin-right: 10px;
	position: relative;

}
.abonement_block_background2{
	background-image: url(img/Rectangle\ 51.png);
	background-position: center;
	width: calc(100% / 12 * 4 - var(--offset));
	height: 350px;
	margin-right: 10px;
	position: relative;

}
.abonement_block_background3{
	background-image: url(img/Rectangle\ 53.png);
	background-position: center;
	width: calc(100% / 12 * 4 - var(--offset));
	height: 350px;

	position: relative;

}
.abonement_block_border{
	background: rgba(0, 0, 0, 0.52);
    border: 1px solid #E89B2B;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: auto; 
	width: 90%;
	height: 90%;
}
.abonement_title{
	font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 34px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: center;
padding-top: 30px;
}
.abonement_text{
	font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 19px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: left;
padding-top: 10px;
margin-left: 30px;
}
.abonement__row{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 15px;
	
}
.abonement_price_white{
font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 700;
font-size: 26px;
margin-left: 10px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.abonement_price_orange{
font-family: 'Source Sans 3';
font-style: normal;
font-weight: 700;
font-size: 30px;
margin-left: 5px;
color: #E89B2B;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button_abonement2{
	background-color: #E89B2B;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
	border: 0px;
	color: #FFFFFF;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 50px;
}
.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
@media (max-width: 600px){
	.first_zaniatie__titel{
		font-size: 32px;
		margin-left: 10px;
		padding-top: 70px;
	}
	.button_abonement{
		margin-top: 0px;
		margin-left: 10px;
	}
	.row{
		flex-direction: column;
	}
	.abonement_block_background1{
		background-image: url(img/Rectangle\ 45.png);
		background-position: center;
		width: 300px;
		height: 350px;
		margin: 0 auto;
		margin-bottom: 20px;
		position: relative;
	
	}
	.abonement_block_background2{
		background-image: url(img/Rectangle\ 51.png);
		background-position: center;
		width: 300px;
		height: 350px;
		margin: 0 auto;
		margin-bottom: 20px;
		position: relative;
	
	}
	.abonement_block_background3{
		background-image: url(img/Rectangle\ 53.png);
		background-position: center;
		width: 300px;
		height: 350px;
		margin: 0 auto;
		position: relative;
	}
	.button_abonement2{
		margin-left: 40px;
	}
}
/*футор*/
.footer__background{
	background-image: url(img/background_adres.png);
	width: 100%;
	/*padding-bottom: 10%;*/
}
.row_footer_seti{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 30px;

}
.icon_footer{
	width: 30px;
	height: 30px;
	/*как сделать иконки одинаковыми*/
}
.text_footer_seti{
	font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 32px;
color: #B3AEAF;
margin-right: 10px;
}
.footer_column{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.footer__background_dark{
	background: rgba(0, 0, 0, 0.52);
	width: 100%;
	padding-bottom: 10%;
}

.footer__menu_component{
	font-family: 'Yinmar';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #B9B5BD;
}
.text_footer_contacts{
	font-family: 'Yanone Kaffeesatz';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 32px;
color: #FFFFFF;
margin-right: 10px;
}
.footer_contacts{
	margin-left: calc(100% / 12 * 3 - var(--offset));
	font-family: 'Yanone Kaffeesatz';
   font-style: normal;
   font-weight: 600;
   font-size: 26px;
   line-height: 26px;
   color: #FFFFFF;
}
.footer_row{
	display: flex;
	flex-direction: row;
	align-items: center
}
.footer_row_2{
	display: flex;
	flex-direction: row;

}
span{
	font-family: 'Yandex-UI-Icons-Private';
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	line-height: 23px;
	color: #FFFFFF;
	margin-left: 30px;
	text-align: right;
}
@media (max-width: 600px){
	.footer_row{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer_row_2{
		display: flex;
		flex-direction: row;
	}
	.footer_contacts{
		margin-left: 0px;
		margin-top: 20px;
	    font-size: 20px;
	}
	span{
		font-size: 18px;
	}

}