* {
	/* включает внутренние отступы и границы в ширину блока, установленную через свойство width */
	box-sizing: border-box;
}

html {
	--offset: 10px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.title{
	display: flex;
	flex-direction: column;
	margin-left: calc(100% / 12 * 1 + var(--offset));
	padding-top: 100px;
}
.title_big{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 83px;
    line-height: 82px;
    color: rgba(255, 255, 255, 0.14);
}
.title_little{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 34px;
	color: #FFFFFF;
	margin-top: -30px;
	margin-left: 20px;
}
/*расписание*/
.background_schedule{
    border-top:  3px solid #E89B2B;
	border-bottom:  3px solid #E89B2B;
    background-color: #202021;
    padding-bottom: 10%;
}
.schedule_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: space-between;
}
.schedule_block{
    width: calc(100% / 12 * 4 - var(--offset));
    margin-top: 70px;
    

}
.schedule_block_img_pole{
    background-image: url(img/Rectangle\ 9.png) ;
    height: 150px;

}
.schedule_block_img_children{
    background-image: url(img/Rectangle\ 7.png) ;
    height: 150px;

}
.schedule_block_img_hip{
    background-image: url(img/Rectangle\ 11.png) ;
    height: 150px;

}
.schedule_block_img_caribbean{
    background-image: url(img/Rectangle\ 8.png) ;
    height: 150px;

}
.schedule_block_img_sky{
    background-image: url(img/Rectangle\ 10.png) ;
    height: 150px;
    background-position: 55%;

}
.schedule_block_img_dance{
    background-image: url(img/Rectangle\ 6.png) ;
    height: 150px;
    background-position: center;

}
.title_napravlenie{
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 600;
	font-size: 38px;
	color: #FFFFFF;
    width: 130px;
   
    background-color: #181819;
}
.schedule_block_date-time{
    background: rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    height: 230px;
}
.schedule_block_date-time_border{
    background: rgba(0, 0, 0, 0.52);
    border: 1px solid #E89B2B;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 90%;
	height: 95%;
    /*а как сделать сверху отступ?*/
}
.schedule_block_text{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}
.row_button_schedule{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    margin-top: -50px;
}
.button_zapis_schedule{
	background-color: #E89B2B;
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
	border: 0px;
	color: #FFFFFF;
	padding-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	/*выровнить кнопки, чтобы были одного размера*/


}
.button_podrob_schedule{
	font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
	border: 0px;
	color: #FFFFFF;
	display: inline-block;
	border: 2px solid  #FFFFFF ;
	background: transparent;
	position: relative;
	cursor: pointer;
	padding-top: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
}
.look_all{
    margin-top: 100px;
    border-top: 5px solid #404043;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.look_all_text{
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 38px;
    color: #404043;
}
.arrow_all{
    margin-top: -10px;

}
@media (max-width: 900px) {
	.schedule_row{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 50px;
	}
	.schedule_block {
		width: 300px;
		margin-top: 70px;
	}
	.button_zapis_schedule{
		background-color: #E89B2B;
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 29px;
		border: 0px;
		color: #FFFFFF;
		width: 110px;
		/*выровнить кнопки, чтобы были одного размера*/
	
	
	}
	.button_podrob_schedule{
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 29px;
		border: 0px;
		color: #FFFFFF;
		display: inline-block;
		border: 2px solid  #FFFFFF ;
		background: transparent;
		position: relative;
		cursor: pointer;
		width: 108px;
	
		
		
	}
	
}
@media (max-width: 600px) {
	.schedule_row{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	.schedule_block {
		width: 90%;
		margin-top: 70px;
	}
	.button_zapis_schedule{
		background-color: #E89B2B;
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 29px;
		border: 0px;
		color: #FFFFFF;
		width: 110px;
		/*выровнить кнопки, чтобы были одного размера*/
	
	
	}
	.button_podrob_schedule{
		font-family: 'Yanone Kaffeesatz';
		font-style: normal;
		font-weight: 700;
		font-size: 26px;
		line-height: 29px;
		border: 0px;
		color: #FFFFFF;
		display: inline-block;
		border: 2px solid  #FFFFFF ;
		background: transparent;
		position: relative;
		cursor: pointer;
		width: 108px;
	
		
		
	}

}
